.review-item {
    padding: 1rem;
    display: flex;
    align-items: center; 
    cursor: pointer;
    transition: all 0.15s;
    user-select: none;
}
  
.review-item:hover {
    background: #e3fafc;
}
.review-text {
    flex: 1; 
    word-break: break-all;
}

.review-item + .review-item {
    border-top: 1px solid #f1f3f5;
}