.form{
    display: none;
    position:fixed;
    bottom:0;
    right:15px;
    border: 3px solid #f1f1f1;
    z-index:9;
}

.form input{
    flex:1;
    font-size: 1.25rem;
    outline:none;
    border:none;
    border-bottom: 1px solid black;
}
.create-button{
    padding: 15px 25px;
    font-size:24px;
    text-align : center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: royalblue;
    border: none;
    border-radius: 3px;
    box-shadow: 0 9px #999;
}

.create-button:hover{background-color : #00498c}

.create-button:active{
    background-color: #00498c;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}