
.template{
    max-width: 900px;
    margin: 0 auto;
}

.title {
    background: #00498c ;
    height: 100px;
    padding: 1rem;
}

.font {
    font-size: 50px;
    font-weight: 100;
    color: white;
    margin: 0 auto;
    float: left;
}

.fontSub {
    font-weight: 100;
    color: white;
    margin: 0 auto;
    float: left;
}

/* 지도, 텍스트, 리뷰 등 메인 컴포넌트가 들어가는 파트 */

.content {
    background: #CDECFA;
    padding-top: 20px;
    margin-top: 5px;
    text-align: center;
    margin: 0 auto;
  }

/* 지도 컴포넌트 css 스타일 */
.map {
    width: 600px;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 20px;

    border : 3px solid white;
    border-bottom-style: groove;

}
