
/* 전체 템플릿 */

.template{
    max-width: 900px;
    margin: 0 auto;
}

/* 헤더~타이틀 파트 */

.header {
    height: 120px;
}

.title {
    padding-top: 10px;
    background: #0C90AD;
    height: 100px;
    padding: 1rem;
}

.icon {
    max-height: 80px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 13px;
}

.font {
    font-size: 50px;
    font-weight: 100;
    color: white;
    margin: 0 auto;
    float: left;
}

.fontSub {
    font-size: 25px;
    font-weight: 100;
    color: white;
    margin: 0 auto;
    float: left;
}

/* 지도, 텍스트, 리뷰 등 메인 컴포넌트가 들어가는 파트(body) */

.content {
    background: linear-gradient(180deg, #D8EEE7 30%, #DAEFF5 65%, #91E0F4);
    padding-top: 5px;
    margin-top: 5px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 100px;
  }
.review{
    width: 500px;
    height: 150px;
    background-color: whitesmoke;
}

.reviewSize {
}

.form-wrapper2{
    width: 500px;
    height: 150px;
    background-color: whitesmoke;
    color: royalblue;
    font-size: 12px;
    margin-bottom: 20px;
    margin: 0 auto;
}

.revsiz {
    max-width: 585px;
    margin: 0 auto;
    border: 6px inset #D8EEE7;
    padding: 20px;
}

/*revsiz::after{
    background-color: white;
    opacity: 0.4;
    z-index: 1;
    content:"";
    width:100%;
    height:100%;
}*/

.review-wrapper {
    width: 500px;
    height: 150px;
    background-color: whitesmoke;
    color: #0C90AD;
    margin: 0 auto;
}

/* HTML index.html 에 적용할 css 코드들 */

/*body::after{
    background-image: url('http://www.sookmyung.ac.kr/sites/sookmyungkr/images/sub/contents/trade_character_05.png');
    z-index: 1;
    top:0;
    left:0;
    position:absolute;
    background-size:100%;
    opacity:0.5!important;
    filter:alpha(opacity=50);
    content:"";
    width:100%;
    height:100%;
}*/

.marginBtm{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 50px;
    color: #0C90AD;
    text-align: center;
}

.textStyle{
    color: grey;
    font-weight: 100;
    font-size: 40px;
    margin-bottom: 20px;
}