.review-item {
    padding: 1rem;
    display: flex;
    align-items: center; 
    cursor: pointer;
    transition: all 0.15s;
    user-select: none;
}
  
.review-item:hover {
    background:#ced4da;
}

.review-item:hover .remove{
    opacity: 1;
}

.review-text {
    flex: 1; 
    word-break: break-all;}

.create-button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: #0C90AD;
    border: none;
    border-radius: 3px;
    box-shadow: 0 3px #999;
}
.review-item + .review-item {
    border-top: 1px solid #0C90AD;
}

.remove {
    margin-right: 1rem;
    color: black;
    font-weight: 600;
    opacity: 0;
}

.revContainer{
    max-width: 500px;
}