.review-template{
    max-width: 585px;
    margin: 0 auto;
}

/*
.form-wrapper{
    padding : 6rem;
    background : #ced4da;  
    width : 600px;
    margin : 0 auto;       background : white;
    width: 900px;
    margin: 0 auto;
    margin-top:1rem;
}

.review-wrapper{
    padding : 1rem;
    min-height : 5rem;
    width : 600px;
    margin : 0 auto;
    border-bottom : 1px solid black;
}
*/
.form-wrapper {
    color: #0C90AD;
    font-size: 12px;
    margin: 0 auto;
}

.review-wrapper {
    background-color: whitesmoke;
    color: #0C90AD;
    margin: 0 auto;
}

.revsiz {
    max-width: 585px;
    margin: 0 auto;
    border: 6px inset #D8EEE7;
    padding: 20px;
}