.review-template{
    background : white;
    width: 900px;
    margin: 0 auto;
    margin-top:1rem;
}

/*
.form-wrapper{
    padding : 6rem;
    background : #ced4da;  
    width : 600px;
    margin : 0 auto;   
}

.review-wrapper{
    padding : 1rem;
    min-height : 5rem;
    width : 600px;
    margin : 0 auto;
    border-bottom : 1px solid black;
}
*/
.form-wrapper {
    width: 600px;
    padding : 3rem;
    background-color: white;
    color: #0C90AD;
    font-size: 12px;
    margin: 0 auto;
}

.review-wrapper {
    width: 500px;
    height: 150px;
    background-color: whitesmoke;
    color: #0C90AD;
    margin: 0 auto;
}

