.review-template{
    max-width: 585px;
    margin: 0 auto;
}

.form-wrapper {
    color: #0C90AD;
    font-size: 12px;
    margin: 0 auto;
}

.review-wrapper {
    color: #0C90AD;
    margin: 0 auto;
}

.revsiz {
    max-width: 585px;
    margin: 0 auto;
    border: 6px inset #D8EEE7;
    padding: 20px;
}