.form{
    display:flex;
}

.form input{
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #0C90AD;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    /*white-space: space pre;*/
}
.create-button{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    background: #0C90AD;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}


